<div class="container-fluid ">
    <div class="row">
        @if(user){
        <div>
            <h2 class="text-uppercase">{{user.userName}}</h2>
            <span>{{user.email}}</span>
        </div>
        <div class="p-3">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Order Status</th>
                        <th scope="col">Deliverd Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of user.orders; track $index) {
                    <tr>
                        <td>{{item.orderDate}}</td>
                        <td>{{item.orderStatus}}</td>
                        <td>{{item.deliverdDate}}</td>
                        <td><a class="btn btn-info" routerLink="/dashboard/orders/{{item.id}}">Details</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        }
        <div class="row">
            <div class="text-end">
                <a class="btn btn-secondary" routerLink="/dashboard/users">cancel</a>
            </div>
        </div>
    </div>
</div>