<section class="d-flex justify-content-between mb-4">
    <div class="categories_btn ">
        <div> <a href="#" class="btn-css p-1 m-1" routerLink="/wishlist" routerLinkActive="active-route">FAVOURITES</a>
            <a href="#" class="btn-css p-1 m-1" routerLink="/userinfo" routerLinkActive="active-route">PROFILE</a></div>
    </div>
</section>
 <section>
    <div class="usernamestyle">
        <p>{{username}}</p>
    </div>
 </section>
<section class="containerstyle">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <b class="pb-3">EMAIL</b><br>
                    <span class="data" >{{email}}</span>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form (ngSubmit)="onemailSubmit(changeemailform)" #changeemailform="ngForm">
                        <div class="mb-2">
                            <p  style="margin-bottom: 1px;"><strong>CHANGE E-MAIL</strong></p>
                            <p >Your current email address is: <strong>{{email}}</strong></p>
                        </div>
                          
                          <div class="form-floating mb-3">
                            <input type="email" id="form5Example24" class="form-control custom-input" placeholder=" "
                             name="newemail" #newemail="ngModel" [(ngModel)]="user.newemail" pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{3,}" required/>
                            <label for="form5Example24" class="custom-label">NEW E-MAIL ADDRESS</label>
                            <div class="invalid-msg" *ngIf="newemail.invalid &&(newemail.touched||newemail.dirty)">
                                <span *ngIf="newemail.errors?.['required']">Email is required</span>
                                <span *ngIf="newemail.errors?.['pattern']">pattern is invalid</span>
                            </div>
                        </div>
                        <div class="col-5">
                            <!-- Submit button -->
                            <button class="btn btn-primary" [disabled]="!changeemailform.form.valid"   type="submit" class="malek">
                                SAVE
                              </button>
                          </div>
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <b class="pb-3">PHONE</b><br>
                    <span class="PHONEDATA">{{phone}}</span>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                   <form (ngSubmit)="onphoneNumSubmit(phoneNumform)" #phoneNumform="ngForm">
                    <div class="mb-2">
                        <p><strong>CHANGE PHONE NUMBER</strong></p>
                    </div>
                    <div class="row mb-3">
                        <div class="col-auto">
                            <select class="form-select form-select-sm custom-input p-3 mt-1">
                                <option value="+20">+20 (Egypt)</option>
                                <option value="+1">+1 (United States)</option>
                                <option value="+44">+44 (United Kingdom)</option>
                            </select>
                        </div>
                        <div class="col form-floating">
                            <input type="text"  id="phoneNum" pattern="^(11|12|10|15)[0-9]{8}$"  class="form-control form-control-sm custom-input" placeholder=" "
                             name="newphonenum" [(ngModel)]="user.phoneNum" #phoneNumm="ngModel" required >
                            <label for="phoneNum" class="custom-label">New Phone Number</label>
                            <div class="invalid-msg" *ngIf="phoneNumm.invalid && (phoneNumm.touched || phoneNumm.dirty) ">
                                <span *ngIf="phoneNumm.errors?.['required']">phonenumber is required</span>
                                <span *ngIf="phoneNumm.errors?.['pattern']">Please enter valid phone number</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <button class="btn btn-primary" type="submit" [disabled]="!phoneNumform.form.valid"  class="malek">
                            SAVE
                          </button>
                      </div>
                   </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <b class="pb-3">PASSWORD</b> <br>
                    <span class="PASSWORDDATA">............</span>
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form (ngSubmit)="onpassSubmit(changepassform)" onsubmit="" #changepassform="ngForm">
                        <div class="mb-2">
                            <p><strong>CHANGE PASSWORD</strong></p>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" id="oldpass" class="form-control custom-input"
                             placeholder=" "  
                             name="Currentpassword" #oldpassword="ngModel"
                            [(ngModel)]="user.password" required />
                            <label for="oldpass" class="custom-label">CURRENT PASSWORD</label>
                           <div class="invalid-msg" *ngIf="oldpassword.invalid && (oldpassword.touched || oldpassword.dirty)">
                            <span *ngIf="oldpassword.errors?.['required']">password is required</span>
                           </div>
                          </div>
                          <div class="form-floating mb-3">
                            <input type="password" id="passtwo" class="form-control custom-input" placeholder=" " 
                              name="Newpassword" #newpassword="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{6,}$"
                            [(ngModel)]="user.newpassword" required />
                            <label for="passtwo" class="custom-label">NEW PASSWORD</label>
                            <div class="invalid-msg" *ngIf="newpassword.invalid && (newpassword.touched || newpassword.dirty)">
                                <span *ngIf="newpassword.errors?.['required']">password is required</span>
                                <span *ngIf="newpassword.errors?.['pattern']">password is invalid</span>
                            </div>
                          </div>
                          <div class="col-5">
                            <!-- Submit button -->
                            <button class="btn btn-primary" type="submit" [disabled]="!changepassform.form.valid" class="malek">
                                SAVE
                              </button>
                          </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section>
        <a class="linkstyling" (click)="onSignOut()">Sign Out</a>
 </section>
 
 <!-- <section>
        <a class="linkstyling pb-4" (click)="deleteAccount()">Delete your account</a>
 </section> -->