<div class="container">
  <div class="head row w-25 d1">
    <a href="../cart" style="text-decoration: none; color:black">
      <p>SHOPPING BAG</p>
    </a>
  </div>
  <div class="head row w-25 d2">
    <a href="../wishlist" style="text-decoration: none; color:black">
      <p>FAVOURITES <button style="background-color: white; border:0px;"> <i class="fa-regular fa-bookmark"></i></button></p>
    </a>
  </div>
  <div class="row"></div>
  <div class="row"></div>
</div>
<div class="wishheader">
  <p class="wishheader-p">YOUR WISHLIST</p>
</div>
<div class="parent">
  @for(product of productswishlist ; track product.id) {
    <div class="wishlist">
      <img class="wishlistimg" [src]="product.imgUrl">
      <div class="container" style="border: 1px solid black;">
        <div class="row" style="height: 63px;">
          <p class="paragraph">
            <p>{{ product.name }}</p><br><p>{{product.price}}</p>
        </div>
        <div class="row">
          <button style="background-color: white; border:0px;" (click)="removeproduct(product)">
            <i class="fa-solid fa-bookmark"></i>
          </button>
        </div>
      </div>
    </div>
  }
</div>
