<div class="container-fluid my-3">
    <div class="grid grid-cols-12 gap-6 mt-5 ">
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
            <button class="btn btn-primary shadow-md mr-2 lightcolor" routerLink="/dashboard/addbrand">
                Add New Brand</button>
        </div>
        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            <table class="table table-hover table-report -mt-2">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (brand of brands | paginate: {
                    id: "brands-pagination",
                    itemsPerPage: pageSize,
                    currentPage: pageIndex,
                    totalItems: totalCount
                    }; track brand.id; let i = $index) {
                    <tr>
                        <td>{{brand.id}}</td>
                        <td>{{brand.name}}</td>
                        <td>{{brand.categoryName}}</td>
                        <td>
                            <button class="btn btn-info" routerLink="/details/{{brand.id}}">Details</button>
                            <button class="btn btn-warning mx-2" routerLink="/edit/{{brand.id}}">Edit</button>
                            <button class="btn btn-danger" (click)="delete(brand.id)">Delete</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<pagination-controls [responsive]=" true" boundary-links="true" [autoHide]="true" (pageChange)="onPageChange($event)"
    id="brands-pagination" class="text-center" [maxSize]="10">
</pagination-controls>