<div style="height: 50px;"></div>
<h5 class="m-5">SHIPPING DETAILS</h5>
<div class="mainwrrapper m-5">
    <div class="p-3">
        <div>THURSDAY 04, APRIL</div>
        <div class="p-1">ITEMS</div>
    </div>
    <div class="orderimgs">
        @for(product of products ; track product){
            <img class="shippingimg" src="product">
        }
    </div>
</div>
<div class="footer">
    <div></div>
    <div></div>
    <div class="p-4"><b>Total Price : 2900 EGP</b></div>
    <div class="button-container" (click)="ConfirmPayment();">
        <button type="button">CONFIRM PAYMENT</button>
    </div>
</div>