<div class="container">
  <div class="form">
<form class="flex flex-col text-sm justify-evenly" (ngSubmit)="resetPassword()" #resetForm="ngForm">
  <div class="flex flex-col my-1">
   
    <input  class="form-control " type="password" id="password" name="password" required [(ngModel)]="password" placeholder="NEW PASSWORD" ><br>


    <div *ngIf="resetForm.controls['password'].invalid && resetForm.controls['password'].touched" class="text-red-500 mt-1 text-xs">
      New Password is required
    </div>
  </div>
  <div class="flex flex-col my-1">
  
    <input class="form-control " type="password" id="confirmPassword" name="confirmPassword" required [(ngModel)]="confirmPassword" placeholder="CONFIRM NEW PASSWORD"><br>

    <div *ngIf="resetForm.controls['confirmPassword'].invalid && resetForm.controls['confirmPassword'].touched" class="text-red-500 mt-1 text-xs">
      Confirmation is required
    </div>
  </div>
  <button [disabled]="resetForm.invalid" class="bg-yellow-300 rounded-lg mx-1 hover:bg-yellow-400 p-2 mt-5" type="submit"  (click)="ShowDialog()" >SAVE</button>
</form>


<p-dialog header="Success" [(visible)]="showConfirmDialog" [modal]="true" [style]="{ width: '50vw' }">
  <p>
    Password has been successfully reset.
  </p>
  <button type="button" class="subbtn w-100" (click)="CloseAllDialogs()">ACCEPT</button>
</p-dialog>
<p-dialog header="Error" [(visible)]="showErrorDialog" [modal]="true" [style]="{ width: '50vw' }">
  <p>
    Passwords do not match.
  </p>
  <button type="button" class="subbtn w-100" (click)="CloseAllDialogs()">ACCEPT</button>
</p-dialog>
<!-- validate password dialog -->
<p-dialog header="Error" [(visible)]="showPassErrorDialog" [modal]="true" [style]="{ width: '50vw' }">
  <p>
    Passwords Must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number and one special character.
  </p>
  <button type="button" class="logbtn w-100" (click)="CloseAllDialogs()">ACCEPT</button>
</p-dialog>

</div>
</div>