<div class="container-fluid my-3">
    <table class="table table-hover mt-4">
        <caption>List of Orders</caption>
        <thead>
            <tr>
                <th>No.</th>
                <th>User Name</th>
                <th>Order Date</th>
                <th>Products Count</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (order of orders | paginate:{
            id:"orders-pagination",
            itemsPerPage:pageSize,
            currentPage:pageIndex,
            totalItems:totalCount
            } ; track order.id; let i = $index) {
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.userName}}</td>
                <td>{{order.orderDate}}</td>
                <td>{{order.productCount}}</td>
                <td>{{order.totalPrice}}</td>
                <td>
                    <button class="btn btn-info mx-2" routerLink="details/{{order.id}}">Details</button>
                    <button class="btn btn-danger" (click)="delete(order.id)">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<pagination-controls [responsive]=" true" boundary-links="true" (pageChange)="onPageChange($event)"
    id="orders-pagination" class="text-center" [maxSize]="5">
</pagination-controls>