
<!-- Product Details -->
<div class="product-details d-flex justify-content-around">
      <div id="custom-scrollbar" class="extra-info p-3" [ngStyle]="{
        'height': isExpanded ? '760px' : '250px',
        'overflow-y': isExpanded ? 'scroll' : 'hidden'
     }">
      <a href="#" class="showmore" (click)="toggleContent($event)" style="display:block;">{{isExpanded ? 'View Less' : 'View More'}}</a>
        <p>COMPOSITION & CARE</p>
        
        <p>COMPOSITION</p>
        We work with monitoring programmes to ensure compliance with our social, environmental and health and safety standards for our products. To assess compliance, we have developed a programme of audits and<br><br> continuous improvement 
        We work with monitoring programmes to ensure compliance with our social, environmental and health and safety standards for our products. To assess compliance, we have developed a programme of audits and continuous improvement 
        We work with monitoring programmes to ensure compliance with our social, environmental and health and safety standards for our products. To assess compliance, we have developed a programme of audits and continuous improvement 
        We work with monitoring programmes to ensure compliance with our social, environmental and health and safety standards for our products. To assess compliance, we have developed a programme of audits and continuous improvement 
        We work with monitoring programmes to ensure compliance with our social, environmental and health and safety standards for our products. To assess compliance, we have developed a programme of audits and continuous improvement 
        We work with monitoring programmes to ensure compliance with our social, environmental and health and safety standards for our products. To assess compliance, we have developed a programme of audits and continuous improvement 

      </div>
      <div class="combineddiv">
                <div class="product-img2">
        <img id="product-img" [src]="selectedimg">
        </div>


        <div class="prosmulimgs2">
          <ul>
            <li>
              <button (click)="Displayimg('https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_1_1_1.jpg?ts=1699871674788')">
                <div>
                  <img class="proimgs2" src="https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_1_1_1.jpg?ts=1699871674788" [ngStyle]="{ 'opacity': selectedimg === 'https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_1_1_1.jpg?ts=1699871674788' ? '1' : '0.4' }">
                </div>
              </button>
            </li>
            <li>
              <button (click)="Displayimg('https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_2_1_1.jpg?ts=1699871674090')">
                <div>
                  <img class="proimgs2" src="https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_2_1_1.jpg?ts=1699871674090" [ngStyle]="{ 'opacity': selectedimg === 'https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_2_1_1.jpg?ts=1699871674090' ? '1' : '0.4' }">
                </div>
              </button>
            </li>
            <li>
              <button (click)="Displayimg('https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_2_3_1.jpg?ts=1699871674095')">
                <div>
                  <img class="proimgs2" src="https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_2_3_1.jpg?ts=1699871674095" [ngStyle]="{ 'opacity': selectedimg === 'https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_2_3_1.jpg?ts=1699871674095' ? '1' : '0.4' }">
                </div>
              </button>
            </li>
          </ul>
        </div>
      </div>
        <div class="product-img">
        <img id="product-img" [src]="selectedimg">
        </div>


        <div class="prosmulimgs">
          <ul>
            <li>
              <button (click)="Displayimg('https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_1_1_1.jpg?ts=1699871674788')">
                <div>
                  <img class="proimgs" src="https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_1_1_1.jpg?ts=1699871674788" [ngStyle]="{ 'opacity': selectedimg === 'https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_1_1_1.jpg?ts=1699871674788' ? '1' : '0.4' }">
                </div>
              </button>
            </li>
            <li>
              <button (click)="Displayimg('https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_2_1_1.jpg?ts=1699871674090')">
                <div>
                  <img class="proimgs" src="https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_2_1_1.jpg?ts=1699871674090" [ngStyle]="{ 'opacity': selectedimg === 'https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_2_1_1.jpg?ts=1699871674090' ? '1' : '0.4' }">
                </div>
              </button>
            </li>
            <li>
              <button (click)="Displayimg('https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_2_3_1.jpg?ts=1699871674095')">
                <div>
                  <img class="proimgs" src="https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_2_3_1.jpg?ts=1699871674095" [ngStyle]="{ 'opacity': selectedimg === 'https://static.zara.net/photos///2023/I/0/2/p/0706/540/800/2/w/750/0706540800_2_3_1.jpg?ts=1699871674095' ? '1' : '0.4' }">
                </div>
              </button>
            </li>
          </ul>
        </div>
      <div class="product-action">
        <div class="info p-3">
          <div class="bookmark" (click)="AddToWishList()" (click)="ToggleWishList2()">
            @if(addedtoWishlist2){
              <i class="fa-solid fa-bookmark"></i>
            }
            @else {
              <i class="fa-regular fa-bookmark"></i>
            }
            </div>
                      EASY CARE JOGGER WAIST TROUSERS
                      2,790 EGP
                      -39%
                      1,690 EGP
                      Trousers featuring an adjustable elasticated waistband with drawstrings. Side pockets and rear welt pockets. Turn-up hems.
                      CHECK IN-STORE AVAILABILITY
                      SHIPPING, EXCHANGES AND RETURNS</div>
              <div class="color-size p-3">
                <div class="row">
                <div class="col-sm-6">
                <div class="size-box" (click)="selectSize('S')" [ngClass]="{'selected':selectedSize === 'S'}">S</div>
                </div>
                <div class="col-sm-6">
                <div class="size-box" (click)="selectSize('M')" [ngClass]="{'selected':selectedSize === 'M'}">M</div>
                </div>
              </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="size-box" (click)="selectSize('L')" [ngClass]="{'selected':selectedSize === 'L'}">L</div>
    </div>
    <div class="col-sm-6">
      <div class="size-box" (click)="selectSize('XL')" [ngClass]="{'selected':selectedSize === 'XL'}">XL</div>
    </div>
  </div>
</div>

    <div class="addbutton" [ngClass]="{'addbutton2' : selectedSize!=''}" (click)="AddToCart()">ADD</div>
  </div>
  <div class="contact-us p-2" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-comment m-2"></i>Chat</div>
  <div class="contact-us2 p-2"><i class="fa-solid fa-comment m-2"></i></div>


  <!--Pop up-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label" aria-placeholder="Message">Message</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="msgbtn">Send message</button>
      </div>
    </div>
  </div>
</div>
<!--Pop up-->

</div>

<!--product-details-->


<div style="height: 300px;"></div>

<div style="margin-left: 32px"><p>YOU MAY ALSO LIKE</p></div>
<!--product card-->
<ul class="product-list">
  @for(p of newlife; track p.id){
    <li>
    <div class="imgandadd">
      <div class="image-container">
        <img src="{{p.img}}">
        <div class="sizing-container" id="sizing-container" appClickOutside (clickOutside)="hideDiv(p)" [ngClass]="{'sizing-container2':p.showDetails}">
          <div class="row">
            <div class="col-sm-6">
              <div class="size-box2">S</div>
            </div>
            <div class="col-sm-6">
              <div class="size-box2">M</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="size-box2">L</div>
            </div>
            <div class="col-sm-6">
              <div class="size-box2">XL</div>
            </div>
          </div>
        </div>
        <div class="plus-icon" (click)="toggleSizes($event,p)"><i class="fa-solid fa-plus"></i></div>
      </div>
    </div>
    <div class="nameandprice p-3">
      <div style="display: inline-block;"><a>{{p.name}}</a></div>
      <div class="bookmarkalso" (click)="ToggleWishList(p)">
        @if(p.wishlist){
          <i class="fa-solid fa-bookmark"></i>
        }
        @else {
          <i class="fa-regular fa-bookmark"></i>
        }
        </div>
      <div>{{p.price}}</div>
    </div>
  </li>

  }
  
</ul>





