<div class="container">
    <h3 class="title text-center mt-3">Add Product</h3>
    <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
        <div class="row">
            <label>Name:</label>
            <input [(ngModel)]="product.name" name="name" id="name" class="form-control" #name="ngModel" required
                [maxlength]="20" />
        </div>
        <div class="row">
            <label>Description:</label>
            <input [(ngModel)]="product.description" id="description" class="form-control" name="description" required
                type="text" />
        </div>
        <div class="row">
            <label>Discount:</label>
            <input [(ngModel)]="product.discount" name="discount" id="discount" class="form-control" type="number"
                required [min]="0" [max]="100" />
        </div>
        <div class="row">
            <label>Price:</label>
            <input [(ngModel)]="product.price" name="price" id="price" class="form-control" type="number" required
                min="1" />
        </div>
        <div class="row">
            <label>Quantity:</label>
            <input [(ngModel)]="product.quantity" name="quantity" id="quantity" class="form-control" type="number"
                required min="1" />
        </div>
        <div class="row">
            <label>Brand:</label>
            <select [(ngModel)]="selectedBrand" name="brand" id="brand" class="form-select" required>
                <option value="0">Select Brand</option>
                @for (brand of brands; track $index) {
                <option value="{{brand.id}}">{{brand.name}}</option>
                }
            </select>
        </div>
        <div class="row">
            <div class="mb-6">
                <label class="form-label">Upload product Images</label>
                <div>
                    <input type="file" name="file" id="file" multiple accept="image/*" max="5"
                        (change)="onFileSelected($event)" />
                    <label for="file">
                        <div>
                            <span class="text-info"> Browse </span>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <button class="btn btn-secondary" type="reset">Cancel</button>
            <button class="btn btn-primary mx-2" type="submit">Create</button>
        </div>
    </form>
</div>