<carousel>
  <slide>
    <img src="https://static.zara.net/photos///contents/mkt/spots/ss24-north-woman-jeans/subhome-xmedia-14//w/1879/IMAGE-landscape-fill-1973b099-591c-4a21-8db3-fedc9d344959-default_0.jpg?ts=1712224823007" class="imgsize" alt="Slide 1">
    <div class="carousel-caption"></div>
  </slide>
  <slide> 
    <img src="https://static.zara.net/photos///contents/mkt/spots/ss24-north-man-trousers/subhome-xmedia-14//w/1366/IMAGE-landscape-jp-fill-aee83382-2e4c-4e7b-a16f-942351ba3928-default_0.jpg?ts=1712315059002" class="imgsize" alt="Slide 2">
    <div class="carousel-caption"></div>
  </slide>
  <slide>
    <img src="https://static.zara.net/photos///contents/mkt/spots/ss24-north-kids-babygirl/subhome-xmedia-12-eg-dz-tn//w/1366/IMAGE-landscape-default-fill-c537344c-5be0-459a-84f5-f867f9b17a8b-default_0.jpg?ts=1711038791048" class="imgsize" alt="Slide 4">
    <div class="carousel-caption"></div>
  </slide>
  <slide>
    <img src="https://static.zara.net/photos///contents/mkt/spots/ss24-north-man-tshirt/subhome-xmedia-13//w/1366/IMAGE-landscape-fill-fc881d14-3ea8-45a1-8f49-15255462cdc0-default_0.jpg?ts=1711112874761" class="imgsize" alt="Slide 3">
    <div class="carousel-caption"></div>
  </slide>
</carousel>
