<!-- <style>
  carousel {
    position: relative;
    /* max-width: 100%; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }



  slide {
    animation: slideAnimation 0.5s infinite;
  }
</style> -->

<carousel>
  <slide>
    <img src="https://static.zara.net/photos///contents/mkt/spots/ss24-north-woman-collection/subhome-xmedia-13//w/1366/IMAGE-landscape-fill-359fb21d-c77d-40e6-83eb-c521e01240e9-default_0.jpg?ts=1711111546613" class="imgsize" alt="Slide 1">
    <div class="carousel-caption"></div>
  </slide>
  <slide>
    <img src="https://static.zara.net/photos///contents/mkt/spots/ss24-north-man-tshirt/subhome-xmedia-13//w/1366/IMAGE-landscape-fill-fc881d14-3ea8-45a1-8f49-15255462cdc0-default_0.jpg?ts=1711112874761" class="imgsize" alt="Slide 2">
    <div class="carousel-caption"></div>
  </slide>
  <slide>
    <img src="https://static.zara.net/photos///contents/mkt/spots/ss24-north-kids-babygirl/subhome-xmedia-12-eg-dz-tn//w/1366/IMAGE-landscape-default-fill-c537344c-5be0-459a-84f5-f867f9b17a8b-default_0.jpg?ts=1711038791048" class="imgsize" alt="Slide 4">
    <div class="carousel-caption"></div>
  </slide>
  <slide>
    <img src="https://static.zara.net/photos///contents/mkt/spots/ss24-north-man-new/subhome-xmedia-12-ramadan//w/1366/IMAGE-landscape-fill-e75cab00-9dc1-428c-a43a-fabebf342aa1-default_0.jpg?ts=1710929848377" class="imgsize" alt="Slide 3">
    <div class="carousel-caption"></div>
  </slide>
  
</carousel>