<div class="container">
    <h3 class="title text-center mt-3">Add Product</h3>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <label for="name">Name:</label>
            <input formControlName="name" name="name" id="name" class="form-control" />
        </div>
        @if(((name?.touched) || name?.dirty )){
        @if(name?.errors?.['required']){
        <div class="alert alert-danger">Name is required.</div>
        }
        @if(name?.errors?.['minlength']){
        <div class="alert alert-danger">
            Name must be at least 3 characters long.
        </div>
        }
        }
        <div class="row">
            <label for="description">Description:</label>
            <input type="text" name="description" id="description" class="form-control" formControlName="description"
                required />
        </div>
        @if(description?.errors?.['maxlength']){
        <div class="alert alert-danger">
            Description must be at most 500 characters long.
        </div>
        }
        <div class="row">
            <label for="discount">Discount:</label>
            <input type="number" name="discount" id="discount" class="form-control" formControlName="discount" />
        </div>
        <div class="row">
            <label for="price">Price:</label>
            <input type="number" name="price" id="price" class="form-control" formControlName="price" />
        </div>
        <div class="row">
            <label for="brand">Brand:</label>
            <select formControlName="brandId" name="brand" id="brand" class="form-select">
                <option value="0">Select Brand</option>
                @for (brand of brands; track $index) {
                <option value="{{brand.id}}">{{brand.name}}</option>
                }
            </select>
        </div>
        @if(brandId?.invalid && brandId?.touched){
        <div class="alert alert-danger">
            Brand must be selected
        </div>
        }
        <div formArrayName="sizes">
            <div *ngFor="let size of sizes.controls; let i = index">
                <div [formGroupName]="i">
                    <div class="row">
                        <div class="col-6">
                            <label>Size:</label>
                            <input type="text" value="size" id="size" name="size" class="form-control" readonly
                                formControlName="size">
                        </div>
                        <div class="col-6">
                            <label>Quantity:</label>
                            <input formControlName="quantity" name="quantity" id="quantity" class="form-control"
                                type="number" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-6">
                <label class="form-label">Upload product Images</label>
                <div>
                    <input type="file" name="file" id="file" multiple accept="image/*" max="5"
                        (change)="onFileSelected($event)" />
                </div>
            </div>
        </div>
        <div class="text-end mt-3">
            <a class="btn btn-secondary" href="/dashboard/products">Cancel</a>
            <button class="btn btn-primary mx-2" type="submit" [disabled]="productForm.invalid">Create</button>
        </div>
    </form>
</div>