<div class="container-fluid my-3">
    <div class="row">
        <div>
            <button class="btn btn-primary" routerLink="/dashboard/addbrand">Add Brand</button>
        </div>
        <div class="row">
            <table class="table table-hover mt-4">
                <caption>List of Brands</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (brand of brands | paginate: {
                    id: "brands-pagination",
                    itemsPerPage: pageSize,
                    currentPage: pageIndex,
                    totalItems: totalCount
                    }; track brand.id; let i = $index) {
                    <tr>
                        <td>{{brand.id}}</td>
                        <td>{{brand.name}}</td>
                        <td>{{brand.categoryName}}</td>
                        <td>
                            <button class="btn btn-info mx-2" routerLink="edit/{{brand.id}}">Edit</button>
                            <button class="btn btn-danger" (click)="delete(brand.id)">Delete</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<pagination-controls [responsive]=" true" boundary-links="true"  (pageChange)="onPageChange($event)"
    id="brands-pagination" class="text-center" [maxSize]="5">
</pagination-controls>