<div class="container">
    <h3 class="title text-center mt-3">Edit Brand</h3>
    <form [formGroup]="brandForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" class="form-control" formControlName="name" />
        </div>
        <div class="row">
            <label>Category:</label>
            <select formControlName="categoryId" [(ngModel)]="selectedCategory" name="category" id="category"
                class="form-select">
                <option value="0">Select category</option>
                @for (item of categories; track $index) {
                <option value={{item.id}}>{{item.name}}</option>
                }
            </select>
        </div>
        <div class="text-end mt-3">
            <a class="btn btn-secondary" href="/dashboard/brands">Cancel</a>
            <button class="btn btn-primary mx-2" type="submit">Save</button>
        </div>
    </form>
</div>