<input class="form-control mb-4" placeholder="Search" [(ngModel)]="term" (ngModelChange)="search()" autofocus/>
    <ul class="product-list">
      @if (products.length === 0){
    <h3>No products match your search criteria</h3>
    }
    @for (product of products ;track product.id){
           <li>
    <div class="imgandadd">
      <div class="image-container">
        <img (click)="RedirectToProductDetails(product.id);" style="cursor: pointer;" src="{{product.imgUrl}}">
      </div>
    </div>
    <div class="nameandprice  p-2">
      <div class="productname" (click)="RedirectToProductDetails(product.id);" style="display: inline-block;"><a>{{product.name}}</a></div>
      <div class="productprice">{{product.price | egp}}</div>
    </div>
  </li>
  }
</ul>
