<div class="container">
    <h3 class="title text-center mt-3">Edit Product</h3>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" class="form-control" formControlName="name" />
        </div>
        <div class="row">
            <label>Description:</label>
            <input type="text" name="description" id="description" class="form-control" formControlName="description"
                required />
        </div>
        <div class="row">
            <label>Discount:</label>
            <input type="number" name="discount" id="discount" class="form-control" formControlName="discount" />
        </div>
        <div class="row">
            <label>Price:</label>
            <input type="number" name="price" id="price" class="form-control" formControlName="price" />
        </div>
        <div class="row">
            <label>Brand:</label>
            <select formControlName="brandId" [(ngModel)]="selectedBrand" name="brand" id="brand" class="form-select">
                <option value="0">Select Brand</option>
                @for (brand of brands; track $index) {
                <option value="{{brand.id}}">{{brand.name}}</option>
                }
            </select>
        </div>
        <div formArrayName="sizes">
            <div *ngFor="let size of sizes.controls; let i = index">
                <div [formGroupName]="i">
                    <div class="row">
                        <div class="col-6">
                            <label>Size:</label>
                            <select formControlName="size" name="size" id="size"
                                class="form-select">
                                <option value="0">Select size</option>
                                @for (size of sizeArray; track $index) {
                                <option value="{{size.value}}">{{size.value}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Quantity:</label>
                            <input formControlName="quantity" name="quantity" id="quantity" class="form-control"
                                type="number" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <button type="button" (click)="viewImages()">
                View Images
            </button>
        </div>
        <div class="text-end mt-3">
            <a class="btn btn-secondary" href="/dashboard/products">Cancel</a>
            <button class="btn btn-primary mx-2" type="submit">Save</button>
        </div>
    </form>
</div>